attrs==18.2.0
Flask==1.0.2
Flask-Testing==0.7.1
gunicorn==19.9.0
heroku==0.1.4
py==1.6.0
pyparsing==2.2.1
pytest==3.8.1
requests==2.20.1
selenium==3.141.0
urllib3==1.26.5
wikipedia==1.4.0
